@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./PlusJakartaSans-Medium.woff2') format('woff2'),
        url('./PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('./PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./PlusJakartaSans-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./PlusJakartaSans-ExtraBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

