@import 'variables.scss';
@import 'mixins.scss';

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
     // 1rem = 10px    10px/16px=62.5% width 1200-1800px
     font-size: 62.5%;

     @include response(tab-land){ //width<1200px
         font-size: 56.25%; //1rem=9px 9px/16px=56.25%
     }
     @include response(tab-port){ //width<900px
         font-size: 50%; //1rem=8px 8px/16px=50%
     }
     @include response(phone){
         font-size: 44%; //1rem=7px 7px/16px=44%
     }
     @include response(big-desktop){ //width> 1800px
         font-size: 75%; //1rem=12px 12/16=75%
     }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', 'san serif';
    font-size: $fsizeParagraph;
    background-color: $verylightblue;
}

.wrap-container{
    width:60rem;
    padding: 2rem;
    background-color:$white;
    margin: 10rem auto;
    border-radius: 5px;
    box-shadow: 1px 12px 25px -10px rgba($darkGrayishblue,0.32);
    -webkit-box-shadow: 1px 12px 25px -10px rgba($darkGrayishblue,0.32);
    -moz-box-shadow: 1px 12px 25px -10px rgba($darkGrayishblue,0.32);


    @include response(phone){
        margin: 0 auto;
        width:54rem;
    }
}


.notification{
    margin: 1.2rem auto;
    padding: 2rem;
    width:54rem;
    display: flex;
    border-radius: 5px;

    &__container{
        display: flex;
        align-items: center;
    }

    &__userimage{
        margin-right:1rem;
        width:5rem;
        height:5rem;
    }

    &__username{
        margin-right: 1rem;
        font-weight: 800;

        &:hover{
            cursor: pointer;
            color: $blue;
        }
    }
    &__text{
        // margin-right: 1rem;
    }
    &__message{
        margin-top:1rem;
        background-color:$white;
        border: 1px solid $lightGrayishBlue2;
        padding: 2rem;
        border-radius: 5px;

        &:hover{
            background-color: $lightGrayishBlue1;
            border: 1px solid transparent;
            cursor: pointer;
        }

    }
    &__link{
        margin-left: 1rem;
        color:$veryDarkBlue;
        font-weight: 800;
        text-decoration:none;

        &:hover{
            color:$blue;
        }
    }
    &__date{
        color: $grayishBlue;
    }
    &__picture{
        width:5rem;
        height: 5rem;
        cursor: pointer;
    }

    @include response(phone){
        width: 48rem;
    }
}

.notification.unread{
    background-color: $verylightblue;
}

.unreadMark{
    display: inline-block;
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: orange;
    margin-left: 1rem;
}

.tab{

    &_container{
        padding: 1.2rem;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    &_header{
        display: flex;
        align-items: baseline;
    }

    &_title{
    font-weight: bold;
    font-size: 2.4rem;
    color: $veryDarkBlue;

    }

}
.newMessagesNumber{
    margin-left: 1rem;
    display: block;
    color:$white;
    background-color: $blue;
    padding: 2px 10px;
    border-radius: 5px;

}
.markAllButton{
    color: $darkGrayishblue;
    cursor: pointer;

    &:hover{
        color: $blue;
    }
}
.rcontent-box{
    flex: 3 20%;
    display: flex;
    justify-content: flex-end;
}

.hidden{
    display: none;
}